body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
    color: #69696a;
    padding-left: 10px;
    height: 100%;
}

#title {
    color: #000;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    display: block;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

li {
    padding-top: 10px;
}

h1 {
    color: #000;
}

p {
    /* creates the border on the left and creates some space between the border and the text */
    border-left: 2px solid #69696a;
    padding-left: 10px;
}

button {
    background-color: #000;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    /* as of right now I can only get the justify-content properties to work in the parent.
    Which means that the title won't stay to the left since it's part of any parent! :( */ 
    header {
        display: flex; 
        align-items: center; 
        justify-content: space-between;
        margin-top: 15px;
    }
    nav {
        display: flex;
        align-items: center;
        flex-direction: row; 
    }
    /*separating the company name from the other menu items by classes made it work originally, but now it's not! */
    #title {
        /* display: flex;  */
        /* justify-content: flex-start; */
    }
    .menu {
        display: flex;  
        margin: 0;
        padding: 0;
    }

    li {
        padding-top: 0;
        padding-right: 10px;
    }
    .hire {
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        width: 80px;
        padding-right: 10px;
    }
    .bottom {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    .bottom button {
        width: 100px;
    }
    h1 {
        padding-top: 160px;
    }
    main {
        /* display: flex; */
        /* justify-content: center; */
        position: absolute;
        /* top: 300px; */
        display: inline-block;
    }

    p {
        margin-right: 50%;
    }

    .shapes {
        display: inline-block;
        position: relative;
        left: 500px;
    }

    .big {
        background-color: rgba(247, 136, 167, 0.6);
        width: 100px;
        height: 100px;
        border-radius: 50%;
      
    }

    .medium {
        background-color: rgba(247, 193, 162, 0.7);
        width: 75px;
        height: 75px;
        border-radius: 50%;
    }

    .small {
        background-color: rgba(207, 130, 213, 0.6);
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }


}
