body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
    color: #69696a;
}

#title {
    color: #000;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    display: block;
    padding: 5px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    padding-left: 5px;
    list-style-type: none;
}

h1 {
    color: #000;
}

p {
    /* creates the border on the left and creates some space between the border and the text */
    border-left: 2px solid #69696a;
    padding-left: 10px;
}

button {
    background-color: #000;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    border-radius: 15px;
    width: 100%;
    padding: 5px;
}

@media screen and (min-width: 768px) {
    /* as of right now I can only get the justify-content properties to work in the parent.
    Which means that the title won't stay to the left since it's part of any parent! :( */ 
    header {
        display: flex; 
        align-items: center; 
        /* justify-content: flex-end; */
    }
    nav {
        flex-direction: row; 
        justify-content: flex-end;
    }
    /*separating the company name from the other menu items by classes made it work originally, but now it's not! */
    #title {justify-content: flex-start;}
    .menu {
        display: flex; 
        justify-content: flex-end; 
        margin: 0;
    }
    .hire {display: flex; flex-direction: row; align-items: center; width: 80px;}
    .scroll {display: flex; justify-content: center; width: 100px;}
    h1 {padding-top: 160px;}
}