body {
    font-family: "Open Sans", sans-serif;
    background-color: #f9fafc;
    color: #69696a;
}

.title {
    color: #000;
    font-weight: bold;
}

a:link {
    text-decoration: none;
    display: block;
    padding: 5px;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1 {
    color: #000;
}

p {
    border-left: 2px solid #000;
    padding-left: 10px;
}

button {
    background-color: #000;
    font-family: "Open Sans", sans-serif;
    color: #fff;
    border-radius: 12px;
    width: 100%;
}